# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# App Data & Local Database
history.db
settings.json
*.log

# Windows / OS Files
Thumbs.db
desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
